<div data-role="page">
  <a href="<%= url_for :controller => :User ,:action => :logout %>"  data-role="button" data-inline="true" data-theme="a" style="float:right;">Logout</a>
  <a class="cancel" href="<%= url_for :controller => :User, :action => :listing %>"  data-role="button" data-inline="true" data-theme="a" style="float:left;">Back</a>
  <div data-role="header" data-theme="a">
  <h1>New <%= @repoinformation.title %></h1>
  </div>



<div data-role="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @repoinformation.object %>"/>
    <label for="repoinformation[name]" class="fieldLabel">Name</label>
    <input type="text" name="repoinformation[name]" <%=placeholder("Name") %> />          
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>
</div>