<div data-role="page">
  <h1>Settings</h1>





<div data-role="content">
  <ul data-role="listview">
    <% if @msg %>
        <li style="color: red; text-align: center"><%= @msg %></li>
    <% end %>
   <li>
      <div data-role="itemLabel">
        <span class="title">Client ID:</span>
      </div>
      <div data-role="itemValue">
        <span class="clientID"><%= Rhom::Rhom::client_id %></span>
      </div>
    </li>
    <li><a href="<%= url_for :action => :reset %>">Reset Database</a></li>
    <li><a href="<%= url_for :action => :do_sync %>">Perform Sync</a></li>
    <% if SyncEngine::logged_in > 0 %>
        <li><a href="<%= url_for :action => :logout %>">Logout</a></li>
    <% else %>
        <li><a href="<%= url_for :action => :login %>">Login</a></li>
    <% end %>
  </ul>
</div>
    </div>