<div data-role="page" style="background-image: url('/public/images/bodyBg.png');">
 <div data-role="header"  style="background:#00264C;">
  <h1><%= Rho::RhoConfig.username %> Git Hub Listing</h1>
   <a href="<%= url_for :action => :logout  %>"  class="ui-btn-right" data-icon="star" data-inline="true" data-theme="a">Logout</a>
 </div> 
  
     <a href="<%= url_for :controller => :UserRepos, :action => :my_repos %>"  >
       <div data-role='content'  id="repo">
         
          Your Repos
       </div>
     </a>
     
     <a href="<%= url_for :controller => :UserRepos, :action => :watching_repos %>" >
       <div data-role='content' class="listing" id="watch_repo">
          
          Watched Repos
       </div>
     </a>
     
     <a href="<%= url_for :controller => :UserRepos, :action => :forked_repos %>" >
       <div data-role='content' id="fork_repo">
          Forked Repos
       </div>
     </a>
     
     <a href="<%= url_for :controller => :UserFollows, :action => :my_followers %>" >
       <div data-role='content'  id="follower">
          Your Followers
       </div>
     </a>
       
     <a href="<%= url_for :controller => :UserFollows, :action => :following %>" >
       <div data-role='content' id="following">
            
          You Following
       </div>
     </a>
     
     <a href="<%= url_for  :action => :coderwall %>" >
            <div data-role='content' id="coderwall">
                   
               Coderwall page
              </div>
            </a>
  
</div>
